th{
  background-color: green;
}
.boder{
  border: solid 1px;
  padding: 10px;
}

.spin {
  display: flex;
  justify-content: center;
}
.loader {
  border: 10px solid white; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 0.5s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
